# Arquivos de ambiente - NUNCA envie sua chave de API!
.env

# Arquivos de cache do Python
__pycache__/
*.pyc

# Banco de dados local SQLite (se estiver usando o Plano B)
receitas.db

# Arquivos gerados pelo Streamlit ou outras ferramentas
.streamlit/
grafico_gerado.png

# Arquivos do sistema operacional
.DS_Store
Thumbs.db